name: Generate Gazu Specs for developer docs

on: push

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"

      - name: Set tag name
        id: vars
        run: echo "TAG=build-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.vars.outputs.TAG }}
          name: Build ${{ steps.vars.outputs.TAG }}
          prerelease: true
          files: docs/build/html/docstrings.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
