name: Generate Gazu Specs for developer docs

on: push

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Generate Gazu specs
          prerelease: true
          files: docs/build/html/docstrings.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
